Importing the dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data clooection and annalysis

In [ ]:
# loading the data set to a pandas dataframe
diabetes_dataset =pd.read_csv("/content/diabetes.csv")

In [ ]:
#printing the first 5 rows of the data set 
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#  number of rows and columns int he  dataset
diabetes_dataset.shape

(768, 9)

In [ ]:
# getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0-->non diabetic
1-->Diabetic

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
# seprating data and labels
X=diabetes_dataset.drop(columns ='Outcome' , axis=1)
Y=diabetes_dataset['Outcome']

In [ ]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [ ]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data standardisation

In [ ]:
!pip install StandardScaler

Collecting StandardScaler
  Downloading StandardScaler-0.5.tar.gz (2.4 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (1.3.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (1.0.2)
Collecting scikit-elm
  Downloading scikit_elm-0.21a0-py3-none-any.whl (30 kB)
Requirement already satisfied: dask in /usr/local/lib/python3.7/dist-packages (from StandardScaler) (2.12.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->StandardScaler) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->StandardScaler) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->StandardScaler) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from scikit-elm->StandardScaler) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->StandardScaler) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->StandardScaler) (1.1.0)
Building wheels for collected packages: StandardScaler
  Building wheel for StandardScaler (setup.py) ... done
  Created wheel for StandardScaler: filename=StandardScaler-0.5-py3-none-any.whl size=2614 sha256=5fbdf72e36e1cb17c2370cc67cf6e4c6f4cc67fdd6ad1c93db60e690b9f355d2
  Stored in directory: /root/.cache/pip/wheels/96/4c/35/4b72d578909a5b4812388c124c58f04651bf2423981ab749b3
Successfully built StandardScaler
Installing collected packages: scikit-elm, StandardScaler
Successfully installed StandardScaler-0.5 scikit-elm-0.21a0

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardised_data = scaler.transform(X)

In [ ]:
print(standardised_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
X = standardised_data
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

train Test Split

In [ ]:
X_train, X_test, Y_train ,Y_test = train_test_split(X,Y,test_size = 0.2, stratify =Y, random_state =2)

In [ ]:
print(X.shape , X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

trianing the MOdel

In [ ]:
classifier = svm.SVC(kernel ='linear')

In [ ]:
# training the support vector Machine classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model evaluation

acccuracy score

In [ ]:
# accuracy score of the training data
X_train_prediction = classifier.predict(X_train)
training_data_acccuracy = accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('accuracy score of training data : ' ,training_data_acccuracy)

accuracy score of training data :  0.7866449511400652

In [ ]:
# accuracy score of the training data
X_test_prediction = classifier.predict(X_test)
test_data_acccuracy = accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('accuracy score of training data : ' ,test_data_acccuracy )

accuracy score of training data :  0.7727272727272727

Making a predictive system

In [ ]:
input_data = (0,137,40,35,168,43.1,2.288,33)

# changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshapping  the array
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
#standardize the input data
std_data = scaler.transform(input_data_reshaped )
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if(prediction[0]==0):
    print('The person is not diabetic')

else:
  print('Person is diabetic')

[[-1.14185152  0.5040552  -1.50468724  0.90726993  0.76583594  1.4097456
   5.4849091  -0.0204964 ]]
[1]
Person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"